<section class="research-lab-content-section">
    <div class="research-lab-content-wrapper">
        <div>
            <h1 class="research-lab-font-size">How we navigate change</h1>
        </div>
        <div class="parent-research-lab-skills-content">
            <div class="research-lab-skills-content">
                <!-- Card 1 -->
                <div class="research-lab-content-width">
                    <h1>Exploration & Prototyping</h1>
                    <p role="text">
                        We <span class="highlight">explore new technologies</span> and <span class="highlight">prototype rapidly</span> to discover practical solutions that work in real business contexts.
                    </p>
                </div>
                <!-- Card 2 -->
                <div class="research-lab-content-width">
                    <h1>Applied R&D</h1>
                    <p role="text">
                        Our <span class="highlight">applied research</span> evaluates solutions in real environments, ensuring every innovation drives <span class="highlight">tangible business value</span>.
                    </p>
                </div>
                <!-- Card 3 -->
                <div class="research-lab-content-width">
                    <h1>Operational Relevance</h1>
                    <p role="text">
                        We test and adapt ideas in <span class="highlight">real workflows</span> so systems remain effective and scalable as markets and AI evolve.
                    </p>
                </div>
            </div>

            <div class="research-lab-skills">
                <div class="skill" data-percent="100">
                    <div class="bar-wrapper">
                        <div class="bar"></div>
                    </div>
                    <p><span class="number">0</span>% Automation</p>
                </div>
                <div class="skill" data-percent="100">
                    <div class="bar-wrapper">
                        <div class="bar"></div>
                    </div>
                    <p><span class="number">0</span>% Microservices</p>
                </div>
                <div class="skill" data-percent="100">
                    <div class="bar-wrapper">
                        <div class="bar"></div>
                    </div>
                    <p><span class="number">0</span>% Engineering</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="research-lab-intro-section">
    <p class="research-lab-intro-text" role="text">
        We <span class="highlight">explore, prototype</span>, and <span class="highlight">apply research</span> to ensure systems are <span class="highlight">practical, scalable</span>, and <span class="highlight">future-ready</span>.
    </p>
</section>