<section class="footer">
    <div class="object-container">
        <div class="object html">
           AI Solutions
        </div>

        <div class="object css">
            Search & Discovery
        </div>
        <div class="object js">
            eCommerce
        </div>
        <div class="object react">
            Automation
        </div>
        <div class="object node">
            System Integration
        </div>
        <div class="object sql">
           Cloud Engineering
        </div>
        <div class="object git">
            API Development
        </div>
        <div class="object docker">
            Performance Optimization
        </div>
        <div class="object aws">
           
            DevOps
        </div>
        <div class="object php">
            

            Security
        </div>
        <div class="object magento">
            
            Technical Architecture
        </div>
         <div class="object magento">
            
            Digital Modernization
        </div>
    </div>

    <div class="footer-content">
        <h1>
            <span class="code">Code.</span>
            <span class="create">Create.</span>
            <span class="conquer">Conquer.</span>
            <br />
            <span class="subtitle">Building What's Next</span>
        </h1>
    </div>
</section>